<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body bgcolor="#FFE8BF"></body>
    <h1 align="center"><font face="標楷體">吳育樑(Yu Liang Wu)</font></h1>
    <h2 align="center"><font face="細明體"><a href="https://www.pu.edu.tw/">靜宜大學</a>
    / <a href="https://csim.pu.edu.tw/">資訊管理學系</a></h2>
    <h3 align="center"><font face="細明體"><a href="myself.html">自介</a></h3>
    <h1 align="center"><img src="static/s1101702.png" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"> 
		<br><br><br></h1>
    
     
        <session id="aboutme" class="col-lg-4">
            <table border="1">
            <tr>
                <td align="center"><font face="標楷體"><h1>關於我</h1></font>
                <font color="blue"><p align="left">系級：</font>資訊管理學系大二A班</h4></p>
                <font color="blue"><p align= "left">學號:</font> 411017022</h4></p>
                <font color="blue"><p align= "left">IG:</font><a href="https://www.instagram.com/yu_liang0801/"> yu_liang0801</a></h4></p>
                <h3><a href="mailto:s1101702@gm.pu.edu.tw" class="text-reset text-decoration-none text-black "><font color="blue">E-Mail:</font>s1101702@gm.pu.edu.tw<br>( ⇈點擊寄送郵件✉ )</a></h3>
                <td align="center"><font face="標楷體"><h1>人生座右銘</h1></font>
                    <h4>人生的道路很長</h4>
                    <h4>每次機會都是由自己創造</h4>
                    <h4>在每一次嘗試當中</h4>
                    <h4>找尋自己不足的地方</h4>
                    <h4>加以練習彌補</h4>
                    <h4>最後一定可以成功</h4>

                <td align="center"><font face="標楷體"><h1>未來展望</h1></font>
                    <h4><p align="left">‧修課規劃: 現階段以系上的課程為主，之後會想嘗試財經系的課程</h4></p>
                    <h4><p align="left">‧學校活動: 這學期擔任的領頭羊、小豆芽幹部讓我學習到很多課本上沒有的能力</h4></p>
                    <h4><p align="left">‧未來規劃: 之後有機會的話也想利用學校的411留學計畫到國外當交換學生</h4></p>
                </tr>
        </table>
        </session>
</body>
</html>