<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><myself class="html"></myself></title>

    
</head>
<body bgcolor="#FFD4FF" text="#6E6EFF">
    <h1 align="center"><font face="標楷體">自我介紹</font></h1>
    <h4><p align="left"><font face="細明體">大家好~</font></p></h4>
    <h4><p align="left"><font face="細明體">我是資管二A的吳育樑,你們可以叫我育樑就好。<br>
        從小出生在氣候宜人的台中，家裡只有我一個小孩，爸爸跟媽媽經營著鋼管家具加工廠，他們教導我不管做什麼都要為自己的行為負責。由於父母親只有生我一個，所以他們對我的期望很高，不過他們不會因此要求我照著他們的路走，還會給我一些意見和看法，讓我自己做選擇，並跟我說要對自己的選擇負責，也相信我有能力把自己管好。<br>
		小時候因父母自己經營外銷家具加工，從他們辛苦經營的家具工廠中，我觀察了他們與同業之間的競爭，赫然發現他們積極開發出創新產品的過程，讓我學到如何讓自家商品從這麼多商品中脫穎而出，受到客戶的青睞。
		爸爸媽媽從小就教導我遇到挫折不要輕易放棄，就算經過一次又一次的失敗，從失敗中尋找合適的方法並記取教訓，學習去面對問題找尋適當的解決方法，化失敗為成功的動力。<br><hr>
    <h4><p align="justify"><font face="細明體"></font></p></h4>   
        至於我興趣的部分，我很喜歡到戶外運動，不管籃球、棒球、羽毛球、排球等等我都會打喔，各位同學們如果有人也喜歡運動的也可以找我一起切磋歐，還有還有我也喜歡聽音樂、唱歌，不嫌棄的話之後唱歌可以找我。<br>
		還有我本人最近也有接觸一點吉他（但還在初學階段啦），未來希望自己能學到能自彈自唱的階段~<br>
		我假日最喜歡和朋友出門逛街，沒事的話也會待在家裡學習電腦相關知識與複習英文，當初是自己想要學習相關的網頁設計，除了在未來能建立專屬於自己的個人網頁，也期許自己能幫未來我工作的公司建立一套獨一無二的網頁。
	    還有大家如果願意跟我分享心事的話，都可以跟我聊歐~，我很喜歡聽別人聊心事的，我自己也很願意跟別人分享。
	  </font>

</body>  
</html>