<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body bgcolor="#FFE8BF"></body>
    <h1 align="center"><font face="標楷體">希格斯資訊科技有限公司</font></h1>
    
    <h1 align="center"><img src="9.jpg" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"></h1> 
		<br><br><br>
    <h2 align="center">
        <table border="1">
        <tr>
            <td align="center"><font face="標楷體"><h1>公司資訊</h1></font>
            <font color="blue"><p align="left">公司名稱：</font>希格斯資訊科技有限公司</h4></p>
            <font color="blue"><p align= "left">地址:</font>新北市新店區北新路三段221號8樓</h4></p>
            <font color="blue"><p align= "left">工作性質:</font>電腦軟體服務業、網際網路相關業、電腦系統整合服務業</a></h4></p>
            <font color="blue"><p align= "left">核心價值:</font>創新、持續學習、不斷進步、團隊合作、樂在其中</a></h4></p>
            <font color="blue"><p align= "left">公司希望培養員工的三個能力:</font></a></h4></p>
            <ol>
                <li>要有解決問題的能力</li>
                <li>挺身而出的領導力</li>
                <li>謙卑的態度</li>
            </ol>
            <font color="blue"><p align= "left">公司特色:</font></a></h4></p>
            <ol>
                <li>扁平式管理</li>
                <li>彈性工時</li>
                <li>良好的工作環境</li>
                <li>樂於分享知識技能的氣氛</li>
                <li>擅長於有挑戰性和多變的環境中成長</li>
            </ol>
            <td align="center"><font face="標楷體"><h1>職務介紹</h1></font>
                <h4>全端工程師</h4>
                <h4>軟體測試工程師</h4>
                <h4>前端工程師</h4>
            
            <td align="center"><font face="標楷體"><h1>應徵條件</h1></font>
                <h4>工作經歷:不拘</h4>
                <h4>學歷要求:專科、大學、碩士</h4>
                <h4>科系要求:不拘</h4>
                <h4>擅長工具:C#、Python</h4>
                <h4><p>工作技能:</p>
                    <ol>
                        <li>功能測試</li>
                        <li>使用者測試</li>
                        <li>問題追蹤處理</li>
                        <li>測試企劃及報告書撰寫</li>
                    </ol>
                </h4>
</body>
</html>