<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        <title>育樑的求職網站</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<body>
        <h1>資管二A 411017022 吳育樑的的求職相關資訊</h1><h3><a href="me.html">我的個人簡介</a></h3><br><h3><a href="工作介紹.html">相關工作介紹</a></h3><br><h3><a href="職涯結果.html">職涯測驗結果</a></h3><br><h3><a href="自傳履歷.html">求職履歷自傳</a></h3><br>
</body>
</html>