<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body bgcolor="#FFE8BF"></body>
    <h1 align="center"><font face="標楷體">性格與職業測驗結果</font></h1>


    <table border="1">
        <tr>
            <td align="center"><font face="標楷體"><h1>性格分析</h1></font>
            <h1 align="center"><img src="12.jpg" alt="照片" width="550" class="img-fluid rounded-circle" id="PICTURE"></h1> 

            <td align="center"><font face="標楷體"><h1>適合的職業</h1></font>
            <h1 align="center"><img src="13.jpg" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"></h1> 

            <td align="center"><font face="標楷體"><h1>與應徵公司相符的條件</h1></font>
            <h1 align="center"><img src="14.jpg" alt="照片" width="500" class="img-fluid rounded-circle" id="PICTURE"></h1> 
</body>
</html>