<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body bgcolor="#FFE8BF"></body>
    <h1 align="center"><font face="標楷體">領頭羊工作經歷</font></h1>
    
    <table border="1" align ="center" style = "table-layout:fixed" width = "80%">
        <tr>
        <tH><img src="16.jpg" width="80%"><br>
        <h2>鏡頭捕捉到大家努力的利用破冰遊戲認識不同系的同學，團隊合作尋找謎語的地點</h2>
        <th><img src="18.jpg" width="80%"><br>
        <h2>聆聽小羊們平常的煩惱，還有在班上與大學同學的互動過程，還有聽他們分享宿舍生活</h2>
</body>
</html>